// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/portfolio-mask.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //font-family: 'Ubuntu', sans-serif;
}

.trigger {
    background-image: url("../images/juanEar.jpg");
    background-size: cover;
    height: 4.5rem;
    border-radius: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.App-logo {
    height: 4.5rem;
    transition: transform 300ms ease-in-out;
    pointer-events: none;
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
    animation: fadeIn 5s infinite alternate;
}

.App-header {
    width: 100vw;
    h4 {
        padding: 0.6rem;
        font-size: 1rem;
        letter-spacing: 1rem;
        color: rgb(98, 98, 112);
    }
    background-color: #262c35;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.juan {
    animation: fadeIn 5s infinite alternate;
}

.sessions {
    margin-left: 1rem;
    animation: fadeIn 5s infinite alternate;
}

.App-link {
    color: #61dafb;
}

nav {
    width: 100vw;
    background-color: rgba(55, 55, 71, 0.65);
    ul {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }
    a {
        padding: 0.5rem 1rem;
        text-decoration: none;
        font-weight: bold;
        color: rgb(240, 230, 230);
    }
    .active {
        color: rgb(235, 235, 240);
    }
}

// content container
.content-container-outer {
    align-self: flex-end;
    margin: 2rem 6rem 0rem 0rem;
    padding: 0.6rem;
    width: 36rem;
    height: 63vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.content-container {
    height: 26rem;
    width: 34rem;
    position: absolute;
    top: 11rem;
    padding: 0.5rem 1rem;
    padding-bottom: 2rem;
    background: url('../images/film_grain-small.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h1,
h2 {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font: 70px 'LeagueGothicRegular';
}

//ABOUT
.about {
    h4 {
        padding-left: 1.5rem;
        //margin-top: 7.5rem;
    }
    .about-text {
        margin-top: -2rem;
        padding-left: 1.5rem;
        padding-bottom: 0.2rem;
    }
    .icons {
        padding: 0rem 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        li {
            i {
                font-size: 3rem;
                color: rgb(7, 54, 7);
                &:hover {
                    -webkit-transform: rotate(360deg);
                    -webkit-transition-duration: 0.2s;
                }
            }
        }
    }
}

// PROJECTS
.projects-container {
    margin-top: -3rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    .project {
        // width: 30%;
        padding: 0rem 0.5rem;
        text-align: center;
        img {
            width: 100%;
            object-fit: contain;
            border-radius: 7px;
            &:hover {
                box-shadow: 0px 0px 50px 21px black;
            }
        }
    }
}

//CONTACT
.contact {
    display: flex;
    flex-direction: column;
    .contact-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        a {
            color: rgb(57, 8, 61);
            text-decoration: none;
            font-size: 3.5rem;
            &:hover {
                box-shadow: 0px 0px 50px 27px rgba(0, 0, 0, 0.75);
                background-color: gray;
            }
        }
    }
    .mail-btn {
        color: rgb(57, 8, 61);
        text-align: center;
        border: 3px solid rgb(71, 74, 148);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
        align-self: center;
        margin-top: 3rem;
        position: absolute;
        left: 36%;
        &:hover {
            box-shadow: 0px 0px 50px 27px rgba(0, 0, 0, 0.75);
        }
    }
}

// Audio Player
.react-audio-player {
    height: 2.3rem;
    margin-left: -34rem;
    margin-top: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 27px rgb(35, 35, 43);
}

audio::-webkit-media-controls-panel {
    background-color: rgba(34, 34, 53, 0.5)
}

// responsive
@media only screen and (max-width: 600px) {
    .App-header {
        width: 22.5rem;
        flex-wrap: nowrap;
        h4 {
            font-size: 0.5rem;
        }
        .trigger {
            width: 3.5rem;
            height: 3.5rem;
            img {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }
    nav {
        width: 22.5rem;
    }
    .content-container-outer {
        width: 20rem;
        height: 19rem;
        margin: 1rem 0rem;
        flex-direction: column;
        .content-container {
            width: 23rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 2rem;
            }
            .p-text-home {
                margin-left: 3rem;
            }
        }
    }
    .react-audio-player {
        position: relative;
        top: 24rem;
        left: 44rem;
    }
    .countdown-container {
        width: 19rem;
        svg {
            width: 22.5rem;
            top: -3rem;
        }
    }
}

@media only screen and (max-width: 430px) {
    .content-container-outer {
        width: 20rem;
        height: 25rem;
        margin: 1rem 0rem;
        position: relative;
        //left: 2rem;
        //justify-content: center;
    }
    .content-container {
        width: 20rem;
        height: auto;
        padding: 0.5rem;
        transform: rotate(90deg);
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        //top: 5.5rem;
        left: -2.5rem;
    }
    .content-rotate {
        transform: rotate(270deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        padding: 0rem 4.5rem 0rem 1.5rem;
    }
    .countdown-container {
        width: 15rem;
    }
    .p-text-home {
        width: 14rem;
    }
    .projects-container {
        flex-direction: column;
        margin-top: 2rem;
        .project {
            font-size: 0.8rem;
            width: 200px;
            margin: 0.3rem auto;
            border: 1px solid #000;
            img {
                width: 100px;
            }
            .todo-img {
                height: 60px;
            }
        }
    }
    .contact-icons {
        flex-direction: column;
    }
    .home {
        position: absolute;
        top: 2.5rem;
        h1 {
            position: relative;
            top: -2rem;
        }
        h2 {
            position: relative;
            top: -4.5rem;
            padding-left: 4rem;
        }
    }
    .react-audio-player {
        margin-left: -45rem;
    }
    .about {
        position: absolute;
        top: -0.5rem;
    }
    .about-text {
        overflow-wrap: break-word;
    }
    .contact {
        position: absolute;
        top: -0.5rem;
    }
    .projects {
        width: 20rem;
        position: absolute;
        top: -3rem;
        h2 {
            display: none;
        }
    }
}